

h3 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 300;
}

form {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 2em;
}

input {
    width: 30%;
    padding: 0.5em 1em;
    border: solid 1px var(--color-secondary);
    border-radius: 5px;
}

button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
}