.card {
    padding: 1em;
    background-color: white;
    margin: 0 2.5em;
    border-radius: 15px;
    max-width: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}